.table {
  background-color: white;
  font-family: arial;
  margin: 0 auto;
  width: 60%;
  outline: dashed 1px black;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 15px;
  background-color: rgb(37, 35, 35) !important;
}

.td {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

th,
tr {
  color: white
}

th:hover {
  cursor: pointer;
  color: aquamarine;
}

.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

.cardList {
  display: flex;
  flex: row;
  flex-wrap: wrap;

  justify-content: center;
}

.symbol {
  color: lightblue
}