h3,
h6 {
  text-align: center;
}

.button {
  margin-top: 10px;
  margin-left: 70px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn2 {
  align-items: flex-end !important;
}